*{
  margin: 0;
  padding:0;
}
.pad{
  padding: 30px;
  background-color: green;
  margin: 30px;
  text-align: center;
  border: 3px solid black;
  border-radius: 50px;
}
p{
  background-color: red;
  border: 10px double white;
  border-radius: 50px;
  color: black;
  padding: 20px;
  margin: 30px;
}
.bigc{
  height: 100px;
  width: 100px;
  border: 5px double white;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  padding: 5%;
  align-items: center;
}
.smallc{
  text-align: center;
  justify-content: center;
/* margin: 50%; */
  align-items: center;
  height: 60px;
  width: 60px;
  border:none;
  border-radius: 50%;
  border:solid white 2px;
  
  background-color: blue;
  color: white;
  font-size: 40px;
}